In [28]:
import pandas as pd
import numpy as np

In [29]:
adult_df= pd.read_csv('adult.data.csv')

In [30]:
adult_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [31]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [32]:
adult_df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [33]:
adult_df.shape

(32561, 15)

In [34]:
type(adult_df['race'])

pandas.core.series.Series

In [35]:
#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
white_df=adult_df[adult_df.race == 'White']
black_df=adult_df[adult_df.race== 'Black']
asian_df=adult_df[adult_df.race== 'Asian-Pac-Islander']
eskimo_df=adult_df[adult_df.race== 'Amer-Indian-Eskimo']
other_df=adult_df[adult_df.race=='Other']
count=np.array([ len(white_df), len(black_df) , len(asian_df), len(eskimo_df), len(other_df)] )
index=np.array(['White' ,'Black' ,'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'])
races_df=pd.Series(count, index=index)
races_df

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int32

In [36]:
#What is the average age of men?
male_df=adult_df[adult_df['sex'] == 'Male']
age_df=male_df['age']
mean=np.mean(age_df)
print("The average age of men is {}".format(mean))

The average age of men is 39.43354749885268

In [37]:
#What is the percentage of people who have a Bachelor's degree?
bachelors_df=adult_df[adult_df.education == 'Bachelors']
bachelors_perc= (len(bachelors_df) / len(adult_df)) * 100
print("{} of the people recorded have got a bachelor's degree".format(bachelors_perc))

16.44605509658794 of the people recorded have got a bachelor's degree

In [38]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
masters_df=adult_df[adult_df.education =='Masters']
doctorate_df=adult_df[adult_df.education == 'Doctorate']
bachelors_df=adult_df[adult_df.education == 'Bachelors']
advanced_df = pd.concat([masters_df, doctorate_df, bachelors_df])
advanced_df = advanced_df.reset_index(drop=True)
high_sal_df=advanced_df[advanced_df.salary == '>50K']
high_sal_perc=( len(high_sal_df) / len(advanced_df) ) * 100
print("{} percent of people with advanced education have a higher salary than 50K".format(high_sal_perc))

46.535843011613935 percent of people with advanced education have a higher salary than 50K

In [39]:
#What percentage of people without advanced education make more than 50K?
high_sal_noed_df=adult_df[adult_df.salary == '>50K']
low_ed_perc= (len(high_sal_noed_df) - len(high_sal_df)) / len(adult_df) * 100
print("{} percent of people have 50K salary without having advanced eductaion.".format(low_ed_perc))

13.374896348392248 percent of people have 50K salary without having advanced eductaion.

In [40]:
#What is the minimum number of hours a person works per week?
hours_df=adult_df['hours-per-week']
min=np.min(hours_df)
print(min)

#It really amazed me so i had to double-check :))))
min_index = hours_df.idxmin()
min_row = adult_df.loc[min_index]
min_column = 'hours-per-week'
print("Row:")
print(min_row)
print("\nColumn:")
print(min_column)

1
Row:
age                               58
workclass                  State-gov
fnlwgt                        109567
education                  Doctorate
education-num                     16
marital-status    Married-civ-spouse
occupation            Prof-specialty
relationship                 Husband
race                           White
sex                             Male
capital-gain                       0
capital-loss                       0
hours-per-week                     1
native-country         United-States
salary                          >50K
Name: 189, dtype: object

Column:
hours-per-week

In [41]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
one_hour_df = adult_df[adult_df['hours-per-week'] == 1]
highsal_one_hour_df=one_hour_df[one_hour_df.salary == '>50K']
one_hour_perc= (len(highsal_one_hour_df) / len(one_hour_df)) * 100
print("{} percent of the people who work the minimun number of hours have a salary of more than one week".format(one_hour_perc))

10.0 percent of the people who work the minimun number of hours have a salary of more than one week

In [42]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
high_sal_df['native-country']
country_counts = high_sal_df.value_counts()
most_repeated_country = country_counts.idxmax()
most_repeated_country
#United States

(22,
 'Private',
 100345,
 'Bachelors',
 13,
 'Never-married',
 'Craft-repair',
 'Not-in-family',
 'White',
 'Male',
 13550,
 0,
 55,
 'United-States',
 '>50K')

In [43]:
#Identify the most popular occupation for those who earn >50K in India.
india_df= adult_df[adult_df['native-country']== 'India']
highsal_india_df= india_df[india_df.salary == '>50K']
india_counts= highsal_india_df.value_counts()
most_pop_occupation= india_counts.idxmax()
most_pop_occupation
#Prof-specialty

(23,
 'Private',
 143003,
 'Masters',
 14,
 'Married-civ-spouse',
 'Prof-specialty',
 'Husband',
 'Asian-Pac-Islander',
 'Male',
 0,
 1887,
 50,
 'India',
 '>50K')